---
openapi: 3.0.1
info:
  title: Prediction-Guard-API
  description: API generated by SwaggerHub Explore
  version: "1.0"
servers:
- url: https://api.predictionguard.com
paths:
  /:
    get:
      parameters: []
      responses:
        "200":
          description: Generated by SwaggerHub Explore
  /completions/:
    get:
      parameters:
      - name: x-api-key
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
        examples:
          example:
            value: <key>
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          headers:
            X-Cache:
              style: simple
              explode: false
              schema:
                type: string
              example: Miss from cloudfront
            x-amzn-Remapped-Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 17:36:27 GMT"
            x-amz-apigw-id:
              style: simple
              explode: false
              schema:
                type: string
              example: Q-UsZGWlIAMECIQ=
            X-Amz-Cf-Pop:
              style: simple
              explode: false
              schema:
                type: string
              example: IAD79-C2
            Connection:
              style: simple
              explode: false
              schema:
                type: string
              example: keep-alive
            Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 17:36:27 GMT"
            X-Amzn-Trace-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: Root=1-65959b1b-358ae0a944b30e42636d8cd5
            Via:
              style: simple
              explode: false
              schema:
                type: string
              example: 1.1 795fca0399f361701665c0d9fab45324.cloudfront.net (CloudFront)
            x-amzn-Remapped-Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "388"
            x-amzn-RequestId:
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
              example: d97a7c20-1404-435e-94e6-bb175c96010e
            X-Amz-Cf-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: OYz4vHnVNjMvZmW3sGtkPNjuZQGhlxzUt1HsLavIE08yRFIIvlKYFw==
            Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "388"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Nous-Hermes-13B
              - Nous-Hermes-Llama2-13B
              - Llama-2-13B
              - Llama-2-7B
              - Neural-Chat-7B
              - Notus-7B
              - Zephyr-7B-Beta
              - Yi-34B
              - WizardCoder
              - Nous-Hermes-Llama2-7B
              - Dolly-7B
              - Dolly-3B
              - h2oGPT-6_9B
              - RedPajama-INCITE-Instruct-7B
              - Camel-5B
              - Pythia-6_9-Deduped
              - MPT-7B-Instruct
              - Falcon-7B-Instruct
              - StarCoder
              - OpenAI-davinci-002
              - OpenAI-babbage-002
              - OpenAI-gpt-3.5-turbo-instruct
        "400":
          description: Generated by SwaggerHub Explore
          headers:
            X-Cache:
              style: simple
              explode: false
              schema:
                type: string
              example: Error from cloudfront
            x-amzn-Remapped-Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:13:44 GMT"
            x-amz-apigw-id:
              style: simple
              explode: false
              schema:
                type: string
              example: Q-i8ZGjlIAMEUFQ=
            X-Amz-Cf-Pop:
              style: simple
              explode: false
              schema:
                type: string
              example: IAD79-C2
            Connection:
              style: simple
              explode: false
              schema:
                type: string
              example: keep-alive
            Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:13:44 GMT"
            X-Amzn-Trace-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: Root=1-6595b1e8-3bfcf3db4fa60022232614af
            Via:
              style: simple
              explode: false
              schema:
                type: string
              example: 1.1 2d5ae77baf1e996b29b17b6541abf9c2.cloudfront.net (CloudFront)
            x-amzn-Remapped-Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "64"
            x-amzn-RequestId:
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
              example: 00898e9b-697b-4b53-bc62-c59897f65143
            X-Amz-Cf-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: 1Xd_XIoQzrC1B9L_4L6vbwBAGawSfT1I6tJ9ZUloSFNdo8g8c_3KdA==
            Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "64"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
              example:
                error: could not parse the required fields in request body
  /factuality:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/factuality_body'
            examples:
              example:
                value: "{\r\n    \"reference\": \"The sky is blue\",\r\n\t\"text\": \"The sky is green\"\r\n}"
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          headers:
            X-Cache:
              style: simple
              explode: false
              schema:
                type: string
              example: Miss from cloudfront
            x-amzn-Remapped-Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:56:52 GMT"
            x-amz-apigw-id:
              style: simple
              explode: false
              schema:
                type: string
              example: Q-pQdE0BIAMEvfA=
            X-Amz-Cf-Pop:
              style: simple
              explode: false
              schema:
                type: string
              example: IAD79-C2
            Connection:
              style: simple
              explode: false
              schema:
                type: string
              example: keep-alive
            Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:56:52 GMT"
            X-Amzn-Trace-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: Root=1-6595bc02-550163d13ddc1f385f9c7aaf
            Via:
              style: simple
              explode: false
              schema:
                type: string
              example: 1.1 5f96bc4a22f6baa91bf4a4bb246e4ff8.cloudfront.net (CloudFront)
            x-amzn-Remapped-Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "162"
            x-amzn-RequestId:
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
              example: cb7eeaa6-79e2-4fa1-bbf9-e533ab9b2bde
            X-Amz-Cf-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: RdE2NaUuCh9rX44bl9Kpq5H3P-IWMCwKgqqPOZjjLzlPZjKkxjZo5w==
            Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "162"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              example:
                checks:
                - score: 0.12404686957597733
                  index: 0
                  status: success
                created: 1704311812
                id: fact-OfuJHSTUDaNRZgL2cY8gtUVqqvFgf
                object: factuality_check
      security:
      - ApiKeyCredentials: []
  /chat:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat_body'
            examples:
              example:
                value: "{\r\n    \"model\": \"Neural-Chat-7B\",\r\n    \"messages\": [\r\n        {\r\n            \"role\": \"system\",\r\n            \"content\": \"You are a helpful assistant that provide clever and sometimes funny responses.\"\r\n        },\r\n        {\r\n            \"role\": \"user\",\r\n            \"content\": \"What's up!\"\r\n        },\r\n        {\r\n            \"role\": \"assistant\",\r\n            \"content\": \"Well, technically vertically out from the center of the earth.\"\r\n        },\r\n        {\r\n            \"role\": \"user\",\r\n            \"content\": \"Haha. Good one.\"\r\n        }\r\n    ]\r\n}"
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          headers:
            X-Cache:
              style: simple
              explode: false
              schema:
                type: string
              example: Miss from cloudfront
            x-amzn-Remapped-Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:56:56 GMT"
            x-amz-apigw-id:
              style: simple
              explode: false
              schema:
                type: string
              example: Q-pRJEOvIAMEB_A=
            X-Amz-Cf-Pop:
              style: simple
              explode: false
              schema:
                type: string
              example: IAD79-C2
            Connection:
              style: simple
              explode: false
              schema:
                type: string
              example: keep-alive
            Date:
              style: simple
              explode: false
              schema:
                type: string
              example: "Wed, 03 Jan 2024 19:56:56 GMT"
            X-Amzn-Trace-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: Root=1-6595bc07-36b2916b49c077627fcd1b23
            Via:
              style: simple
              explode: false
              schema:
                type: string
              example: 1.1 0570243541aa4edb51d3f1e60aee5a32.cloudfront.net (CloudFront)
            x-amzn-Remapped-Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "312"
            x-amzn-RequestId:
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
              example: 31491ccb-7c5c-4b22-9217-b923cd22afca
            X-Amz-Cf-Id:
              style: simple
              explode: false
              schema:
                type: string
              example: NXAZYw1q-lQnqtg3JPvgDc_ErD2RT_mdcY0xojzOxL1OWEyGkmMKEA==
            Content-Length:
              style: simple
              explode: false
              schema:
                type: string
              example: "312"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              example:
                id: chat-LUARQnGgDBZEBrNer1GXHCAUyusBL
                object: chat_completion
                created: 1704311816
                model: Neural-Chat-7B
                choices:
                - index: 0
                  message:
                    role: assistant
                    content: "Thanks for appreciating my attempt at humor. Now, let's get back to discussing the weather or your favorite topic."
      security:
      - ApiKeyCredentials: []
  /completions:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completions_body'
            examples:
              example:
                value: "{\r\n    \"model\": \"Neural-Chat-7B\",\r\n    \"messages\": [\r\n        {\r\n            \"role\": \"system\",\r\n            \"content\": \"You are a helpful assistant that provide clever and sometimes funny responses.\"\r\n        },\r\n        {\r\n            \"role\": \"user\",\r\n            \"content\": \"What's up!\"\r\n        },\r\n        {\r\n            \"role\": \"assistant\",\r\n            \"content\": \"Well, technically vertically out from the center of the earth.\"\r\n        },\r\n        {\r\n            \"role\": \"user\",\r\n            \"content\": \"Haha. Good one.\"\r\n        }\r\n    ]\r\n}"
      responses:
        "200":
          description: Generated by SwaggerHub Explore
      security:
      - ApiKeyCredentials: []
components:
  schemas:
    Schema:
      type: object
      properties:
        id:
          type: integer
          format: int64
    inline_response_400:
      required:
      - error
      type: object
      properties:
        error:
          type: string
      additionalProperties: false
    factuality_body:
      required:
      - reference
      - text
      type: object
      properties:
        reference:
          type: string
        text:
          type: string
      additionalProperties: false
    inline_response_200:
      required:
      - checks
      - created
      - id
      - object
      type: object
      properties:
        checks:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_checks'
        created:
          type: integer
        id:
          type: string
        object:
          type: string
      additionalProperties: false
    chat_messages:
      required:
      - content
      - role
      type: object
      properties:
        role:
          type: string
        content:
          type: string
      additionalProperties: false
    chat_body:
      required:
      - messages
      - model
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/chat_messages'
      additionalProperties: false
    inline_response_200_1:
      required:
      - choices
      - created
      - id
      - model
      - object
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_1_choices'
      additionalProperties: false
    completions_body:
      required:
      - messages
      - model
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/chat_messages'
      additionalProperties: false
    inline_response_200_checks:
      required:
      - index
      - score
      - status
      type: object
      properties:
        score:
          type: number
        index:
          type: integer
        status:
          type: string
      additionalProperties: false
    inline_response_200_1_message:
      required:
      - content
      - role
      type: object
      properties:
        role:
          type: string
        content:
          type: string
        output:
          type: string
          nullable: true
      additionalProperties: false
    inline_response_200_1_choices:
      required:
      - index
      - message
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: '#/components/schemas/inline_response_200_1_message'
      additionalProperties: false
  securitySchemes:
    ApiKeyCredentials:
      type: apiKey
      name: x-api-key
      in: header
