openapi: 3.0.1
info:
  title: Prediction-Guard-API
  version: ""
paths:
  /:
    get:
      operationId: get
      tags:
        - ""
      parameters: []
      responses:
        "204":
          description: ""
  /completions:
    get:
      operationId: getCompletions
      tags:
        - ""
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
            nullable: true
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example1:
                  value: []
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse400"
    post:
      operationId: postCompletions
      tags:
        - ""
      parameters: []
      responses:
        "204":
          description: ""
      security: &ref_0
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                messages:
                  type: array
                  items:
                    $ref: "#/components/schemas/ChatMessages"
              required:
                - model
                - messages
  /factuality:
    post:
      operationId: postFactuality
      tags:
        - ""
      parameters: []
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse200"
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                text:
                  type: string
              required:
                - reference
                - text
  /chat:
    post:
      operationId: postChat
      tags:
        - ""
      parameters: []
      responses:
        "200":
          description: Generated by SwaggerHub Explore
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2001"
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                messages:
                  type: array
                  items:
                    $ref: "#/components/schemas/ChatMessages"
              required:
                - model
                - messages
components:
  schemas:
    Schema:
      title: Schema
      type: object
      properties:
        id:
          type: integer
          nullable: true
    InlineResponse400:
      title: InlineResponse400
      type: object
      properties:
        error:
          type: string
      required:
        - error
    InlineResponse200:
      title: InlineResponse200
      type: object
      properties:
        checks:
          type: array
          items:
            $ref: "#/components/schemas/InlineResponse200Checks"
        created:
          type: integer
        id:
          type: string
        object:
          type: string
      required:
        - checks
        - created
        - id
        - object
    ChatMessages:
      title: ChatMessages
      type: object
      properties:
        role:
          type: string
        content:
          type: string
      required:
        - role
        - content
    InlineResponse2001:
      title: InlineResponse2001
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/InlineResponse2001Choices"
      required:
        - id
        - object
        - created
        - model
        - choices
    InlineResponse200Checks:
      title: InlineResponse200Checks
      type: object
      properties:
        score:
          type: number
          format: double
        index:
          type: integer
        status:
          type: string
      required:
        - score
        - index
        - status
    InlineResponse2001Message:
      title: InlineResponse2001Message
      type: object
      properties:
        role:
          type: string
        content:
          type: string
        output:
          type: string
          nullable: true
      required:
        - role
        - content
    InlineResponse2001Choices:
      title: InlineResponse2001Choices
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/InlineResponse2001Message"
      required:
        - index
        - message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
servers:
  - url: https://api.predictionguard.com
    description: Default
